/*dia 05/11  11:50 até 14:59*/
/*dia 07/11  08:50 até 14:59 e das 22:22 até 01:00*/

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.topo{
    display: flex;
    margin-top: 150px;
}
.topo-img{
    margin-right: 15px;
    margin-left: 20px;
}
.topo h1{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #08436F;
}

.risco{
    width: 100%;
    margin-bottom: 46px;
}

.dados{
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    margin-bottom: 25px;
    padding: 10px;
}

.total{
    text-align: left;
}

.container-table{
    text-align: -webkit-center;
}
.img-profile{
    border-radius: 27.5px;
    width: 55px;
    height: 55px;
}
.profile-container{
    text-align: -webkit-center;
    margin-bottom: 10px;
}
.input-edit{
    border: none;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    text-align: center;
}
.name{
    text-align: center;
}
.email{
    margin-top: 13px;
}
.botoes{
    text-align: center;
}
.btn-edit{
    text-align: -webkit-center;
    margin-top: 15px;
}
.btn{
    margin-right: 10px;
    width: 104px;
    height: 34.93px;
    border: 1px solid #08436F;
    border-radius: 5px;
    box-shadow: none;
    transition: all 0.3s ease-in;
    text-align: center;
    justify-content: center;
}
.btn:hover{
    background: #08436F;
    color: white;
}

@media(min-width:660px){
    .cliente{
        display: flex;
    }
    .profile-container{
        text-align: left;
    }
    .name{
        margin-top: 13px;
        margin-right: 20px; 
    }
    .email{
        margin-top: 13px;
        
    }
    .editar{
        margin-top: 18px;
    }
    .img-profile{
        margin-right: 10px;
    }
    .input-edit{
        margin-top: 20px;
        margin-right: 10px;
    }
}

@media(min-width: 800px){
    
    .img-profile{
        margin-left: 30px;
    }
    .input-edit{
        margin-top: 20px;
        margin-right: 60px;
    }
    
}